/* direct_uploads.css */

@import "bootstrap-sprockets";
@import "bootstrap";

.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}

.group-avatar-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  margin-right: 5px;
}

.show-container .group-avatar-wrapper {
  margin: 0 auto;
}

.avatar-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.avatar-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

.avatar-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  margin-right: 10px;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

#change-img-field {
  visibility: hidden;
  display: none;
}